In [1]:
import pandas as pd
import numpy as np

# FIRST (DATASET TEST RESULTS)

In [2]:
data=pd.read_excel('Test results.xlsx')

In [3]:
print (data.head(2))

            Name  Test 1  Test 2  Test 3  Test 4  Unnamed: 5  \
0  Reggie miller    97.0    80.0    87.0    91.0         NaN
1     Dan Bonner    76.0    68.0    80.0    81.0         NaN

   With this dataset we can answer questions such as:\n\n1. Which student had the highest average test grades?\n\n2. Which student had the greatest range of test grades?\n\n3. Which test had the highest grades?  \
0                                                NaN
1                                                NaN

   Unnamed: 7  Unnamed: 8  Unnamed: 9  Unnamed: 10  Unnamed: 11  Unnamed: 12
0         NaN         NaN         NaN          NaN          NaN          NaN
1         NaN         NaN         NaN          NaN          NaN          NaN

### Data that is read, has too much junk

In [4]:
#Filtering data
cols_to_keep=['Name', 'Test 1', 'Test 2', 'Test 3', 'Test 4']
filtered_data=data[cols_to_keep]
print (filtered_data.head(2))

            Name  Test 1  Test 2  Test 3  Test 4
0  Reggie miller    97.0    80.0    87.0    91.0
1     Dan Bonner    76.0    68.0    80.0    81.0

In [5]:
#filtered data has all NAN rows so delete where every column entry is null
filtered_data=filtered_data.dropna(how='all') 
#Not dropping single NaN because they represent absent from the specific test
#Final filtered data
print (filtered_data)

            Name  Test 1  Test 2  Test 3  Test 4
0  Reggie miller    97.0    80.0    87.0    91.0
1     Dan Bonner    76.0    68.0    80.0    81.0
2    Steve Smith    84.0    75.0     NaN    86.0
3  Charls Barkey     NaN    89.0     NaN    76.0
4    Kenny Smith    80.0    81.0    79.0    85.0
5   Chris Webber    75.0    75.0    76.0    92.0
6     Jalen Rose    80.0    85.0    84.0    83.0
7    Jim Jackson    92.0    91.0    94.0    95.0

### Questions

In [6]:
#1. Which student had the highest average test grades?
filtered_data['total']=filtered_data.sum(axis=1)
print ("highest average test grades: ",filtered_data['Name'].loc[filtered_data[['total']].idxmax()] )
#2. Which student had the greatest range of test grades?
#tweaking nans to get max
filtered_data.fillna(-100, inplace=True)
filtered_data['Max'] = filtered_data[['Test 1', 'Test 2', 'Test 3', 'Test 4']].max(axis=1)
#tweaking nans to get min
filtered_data.replace(-100,101,inplace=True)
filtered_data['Min'] = filtered_data[['Test 1', 'Test 2', 'Test 3', 'Test 4']].min(axis=1)
#getting nans back
filtered_data.replace(101,np.nan,inplace=True)
filtered_data['Diff']=filtered_data['Max']-filtered_data['Min']
print (filtered_data)
print ("greatest range of test grades: ",filtered_data['Name'].loc[filtered_data[['Diff']].idxmax()] )
#3. Which test had the highest grades?
temp=filtered_data[['Test 1', 'Test 2', 'Test 3', 'Test 4']].mean(axis=0)
print ("all:\n",temp)
print ("max: ",max(temp), "\nso answer is Test 4")

highest average test grades:  7    Jim Jackson
Name: Name, dtype: object
            Name  Test 1  Test 2  Test 3  Test 4  total   Max   Min  Diff
0  Reggie miller    97.0    80.0    87.0    91.0  355.0  97.0  80.0  17.0
1     Dan Bonner    76.0    68.0    80.0    81.0  305.0  81.0  68.0  13.0
2    Steve Smith    84.0    75.0     NaN    86.0  245.0  86.0  75.0  11.0
3  Charls Barkey     NaN    89.0     NaN    76.0  165.0  89.0  76.0  13.0
4    Kenny Smith    80.0    81.0    79.0    85.0  325.0  85.0  79.0   6.0
5   Chris Webber    75.0    75.0    76.0    92.0  318.0  92.0  75.0  17.0
6     Jalen Rose    80.0    85.0    84.0    83.0  332.0  85.0  80.0   5.0
7    Jim Jackson    92.0    91.0    94.0    95.0  372.0  95.0  91.0   4.0
greatest range of test grades:  0    Reggie miller
Name: Name, dtype: object
all:
 Test 1    83.428571
Test 2    80.500000
Test 3    83.333333
Test 4    86.125000
dtype: float64
max:  86.125
so answer is Test 4

# SECOND (DATASET RealclearPolitics)

In [7]:
data=pd.read_excel('RealclearPolitics.xlsx')

In [8]:
data.head(2)

,Poll,Date,Biden,Sanders,Harris,O'Rourke,Warren,Booker,Klobuchar,Buttigieg,Hickenlooper,Castro,Inslee,Gillibrand,Spread
0,RCP Average,2/19 - 3/18,29.4,23.4,10.4,8,6.6,4,2.3,1.3,1,0.8,0.8,0.4,Biden +6.0
1,Emerson,3/17 - 3/18,26.0,26.0,12.0,11,8.0,3,1,3,1,1,1,0,Tie

In [9]:
#QUESTIONS
#look and see if even in this short period if any of the candidates are generating any momentum (positive gain) 
old=data.iloc[9]
new=data.iloc[11]
#old-new
print ("Biden is the candidate genrating momentum")
#looking at the variability between polls to try and understand what kind of margin of error might exist in the data. 
print ("Considering the empty values, I can derive that the data isn't complete for accurate analysis")

Biden is the candidate genrating momentum
Considering the empty values, I can derive that the data isn't complete for accurate analysis

# THIRD (DATASET Fifa)

In [10]:
data=pd.read_excel('fifa.xlsx')

In [11]:
data.head(20)

,Name,Age,Nationality,Overall,Club,Value (M€),Preferred Foot,International Reputation (out of 5),Weak Foot(out of 5),Position,Height
0,J. Oblak,25,Slovenia,90.0,Atlético Madrid,94,Right,3,3,GK,74
1,L. Modri?,32,Croatia,91.0,Real Madrid,420,Right,4,4,RCM,68
2,David Silva,-5,Spain,NaN,NaN,285,head,7,2,LCM,68
3,N. Kanté,27,France,NaN,Chelsea,225,Right,3,3,LDM,66
4,R. Lewandowski,29,Poland,90.0,FC Bayern München,205,index,4,4,ST,72
5,A. Griezmann,27,France,89.0,Atlético Madrid,145,Left,4,3,CAM,71
6,L. Suárez,31,Uruguay,91.0,FC Barcelona,455,Right,5,4,RS,72
7,Cristiano Ronaldo,33,Portugal,94.0,Juventus,405,Right,5,4,ST,74
8,T. Kroos,28,Germany,90.0,Real Madrid,355,Right,4,5,LCM,72
9,E. Hazard,26,Belgium,91.0,NaN,340,NaN,4,8,LF,68
10,Sergio Ramos,32,Spain,91.0,Real Madrid,380,Right,4,3,RCB,72
11,H. Kane,24,England,89.0,Tottenham Hotspur,205,NaN,3,4,ST,-5
12,T. Courtois,26,Belgium,89.0,Real Madrid,-240,Left,4,2,GK,78
13,Neymar Jr,26,Brazil,92.0,Paris Saint-Germain,290,Right,5,5,LW,71
14,D. Godín,27,Uruguay,90.0,NaN,125,Right,10,3,CB,74
15,K. De Bruyne,27,Belgium,91.0,Manchester City,355,NaN,4,5,RCM,71
16,M. ter Stegen,26,Germany,89.0,FC Barcelona,240,Right,3,4,GK,74
17,P. Dybala,24,Argentina,89.0,Juventus,205,NaN,3,-2,LF,70
18,L. Messi,31,Argentina,94.0,FC Barcelona,565,Left,3,4,RF,67
19,De Gea,27,Spain,91.0,Manchester United,260,Right,4,3,GK,76

## DATA CLEANING

In [12]:
#CLEANING COLUMN BY COLUMN
#AGE
#Age is always supposed to be non negative.
data = data.drop(data[data['Age']<0].index)
#one record with age in negative dropped
#OVERALL
#skills are rated from 0 to 100 there must be no nan value in overall columns for a clean dataset
data = data.drop(data[data['Age']<0].index)
data=data[np.isfinite(data['Overall'])]
#VALUE 
#value of player must be in positive
data = data.drop(data[data['Value (M€)']<0].index)
#Preferred Foot
# preffered foot must only be right or left
data1 = data[data['Preferred Foot']=="Right"]
data2 = data[data['Preferred Foot']=="Left"]
data=data1.append(data2)
#INTERNATIONAL REPUTATION
#MUST BE OUT OF 5 AS PER SPECIFIED
data = data.drop(data[data['International Reputation (out of 5)']>5].index)
#WEAK FOOT
#MUST BE OUT OF 5 AS PER SPECIFIED
data = data.drop(data[data['Weak Foot(out of 5)']>5].index)
data=data.reset_index()
print ("CLEANED DATA\n")
print (data)

CLEANED DATA

    index               Name  Age Nationality  Overall                 Club  \
0       0           J. Oblak   25    Slovenia     90.0      Atlético Madrid
1       1          L. Modri?   32     Croatia     91.0          Real Madrid
2       6          L. Suárez   31     Uruguay     91.0         FC Barcelona
3       7  Cristiano Ronaldo   33    Portugal     94.0             Juventus
4       8           T. Kroos   28     Germany     90.0          Real Madrid
5      10       Sergio Ramos   32       Spain     91.0          Real Madrid
6      13          Neymar Jr   26      Brazil     92.0  Paris Saint-Germain
7      16      M. ter Stegen   26     Germany     89.0         FC Barcelona
8      19             De Gea   27       Spain     91.0    Manchester United
9       5       A. Griezmann   27      France     89.0      Atlético Madrid
10     18           L. Messi   31   Argentina     94.0         FC Barcelona

    Value (M€) Preferred Foot  International Reputation (out of 5)  \
0           94          Right                                    3
1          420          Right                                    4
2          455          Right                                    5
3          405          Right                                    5
4          355          Right                                    4
5          380          Right                                    4
6          290          Right                                    5
7          240          Right                                    3
8          260          Right                                    4
9          145           Left                                    4
10         565           Left                                    3

    Weak Foot(out of 5) Position  Height
0                     3       GK      74
1                     4      RCM      68
2                     4       RS      72
3                     4       ST      74
4                     5      LCM      72
5                     3      RCB      72
6                     5       LW      71
7                     4       GK      74
8                     3       GK      76
9                     3      CAM      71
10                    4       RF      67

# Questions

In [13]:
#BEST RATING PLAYERS
print ("best rated player")
print (data.loc[data['Overall'].idxmax()])
#CLUBS WITH MOST PLAYERS
print ("Club with most players")
data['Club'].value_counts()[data['Club'].value_counts() == data['Club'].value_counts().max()]

best rated player
index                                                  7
Name                                   Cristiano Ronaldo
Age                                                   33
Nationality                                     Portugal
Overall                                               94
Club                                            Juventus
Value (M€)                                           405
Preferred Foot                                     Right
International Reputation (out of 5)                    5
Weak Foot(out of 5)                                    4
Position                                              ST
Height                                                74
Name: 3, dtype: object
Club with most players

Real Madrid     3
FC Barcelona    3
Name: Club, dtype: int64